{% load humanize %}
{% load static %}
<!-- Bootstrap -->

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

</style>
</head>
<body>
	<h1>Marvellous Ventures Limited</h1>
<h3>Hello {{ name }}</h3>
<h4>{{ title }}  details for reservation #{{ order_number }} are as follows</h4>
<table>
	<tr>
		<th>
			Hotel:
		</th>
		<th>
			{{items.rooms.hotel}}
		</th>
	</tr>
	<tr>
		<th>
			Conference Room:
		</th>
		<th>
			{{items.rooms}}
		</th>
	</tr>
	<tr>
		<th>
			Meeting Start Date:
		</th>
		<th>
			{{ time }} on {{items.CheckIn}}
		</th>
	</tr>
	<tr>
		<th>
			CheckOut Date:
		</th>
		<th>
			{{items.CheckOut}}
		</th>
	</tr>
	<tr>
		<th>
			Attendants:
		</th>
		<th>
			{{items.guests}}
		</th>
	</tr>
	<tr>
		<th>
			Meeting Room Total:
		</th>
		<th>
			Ksh{{ line_total|intcomma }} ({{ item.conference_duration }} days x {{ item.guests }} guests)
		</th>
	</tr>


	{% if items.double_room %}
	<tr>
		<th>
			Double Room Accomodation:
		</th>
		<th>
			{{ items.double_room }}
		</th>
	</tr>
	<tr>
		<th>
			Checkin Date:
		</th>
		<th>
			{{items.RoomCheckIn}}
		</th>
	</tr>
	<tr>
		<th>
			CheckOut Date:
		</th>
		<th>
			{{items.RoomCheckOut}}
		</th>
	</tr>
	<tr>
		<th>
			Rooms
		</th>
		<th>
			{{ items.double_room_total }} 
		</th>
	</tr>
	<tr>
		<th>
			Double Room Total:
		</th>
		<th>
			Ksh{{ d_room_total|intcomma }} ({{ items.nights }} nights x {{ items.double_room_total }} room(s) x Ksh{{ items.double_room_price|intcomma }} per night)
		</th>
	</tr>
	{% endif %}
	{% if items.single_room %}
	<tr>
		<th>
			Single Room Accomodation:
		</th>
		<th>
			{{ items.single_room }}
		</th>
	</tr>
	<tr>
		<th>
			ChecKin Date:
		</th>
		<th>
			{{items.RoomCheckIn}}
		</th>
	</tr>
	<tr>
		<th>
			CheckOut Date:
		</th>
		<th>
			{{items.RoomCheckOut}}
		</th>
	</tr>
	<tr>
		<th>
			CheckOut Date:
		</th>
		<th>
			{{ items.single_room_total }}
		</th>
	</tr>
	
	<tr>
		<th>
			Single Room Total:
		</th>
		<th>
			Ksh{{ s_room_total|intcomma }} ({{ items.nights }} nights x {{ items.single_room_total }} room(s) x Ksh{{ items.single_room_price|intcomma }} per night)
		</th>
	</tr>
	{% endif %}
	<tr>
		<th>
			Total:
		</th>
		<th>
			Ksh{{ cart.total|intcomma }}
		</th>
	</tr>

</table>

<h2>Meeting Attendants</h2>

<table style="width:100%">
  <tr>
    <th>Number</th>
    <th>Name</th>
  </tr>
  {% for list in guests %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ list }}</td>
  </tr>
  {% endfor %}
</table>
<h4>Welcome to {{items.rooms.hotel}} and may you enjoy your stay!</h4>


</body>
</html>

