{% load humanize %}
{% load static %}
<!-- Bootstrap -->

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
</style>
</head>
<body>
	<h1>Marvellous Ventures Limited</h1>
<h3>Hello {{ booking.guest_name }}</h3>
<h4>Your booking #{{ booking.invoice_number }} details are as follows</h4>
<table>
	<tr>
		<th>
			Hotel:
		</th>
		<th>
			{{booking.hotel.name}}
		</th>
	</tr>
	{% for item in items %}
	<tr>
		<th>
			Room:
		</th>
		<th>
			{{item.rooms}}
		</th>
	</tr>
	<tr>
		<th>
			CheckIn Date:
		</th>
		<th>
			{{item.checkin}}
		</th>
	</tr>
	<tr>
		<th>
			CheckOut Date:
		</th>
		<th>
			{{item.checkout}}
		</th>
	</tr>
	<tr>
		<th>
			Room sub total:
		</th>
		<th>
			Ksh{{item.sub_total|intcomma}} ({{ item.stay_duration }}
			
			{% if item.rooms.is_conference_room %}
				day(s)
				{% else %}
				night(s)
			{% endif %}
			
			 x {{ item.qty }}
			  {% if item.rooms.is_conference_room %}
				guest(s)
				{% else %}
				room(s)
			{% endif %}
			   x Ksh{{ item.rooms.room_Price|intcomma }}
			    {% if item.rooms.is_conference_room %}
				per person
				{% else %}
				per night
			{% endif %}
				)
		</th>
	</tr>
	{% endfor %}
	<tr>
		<th>
			Total:
		</th>
		<th>
			Ksh{{booking.final_total|intcomma }} 
		</th>
	</tr>

</table>
{% for item in items %}
{% if item.rooms.is_conference_room   %}
<h2>Meeting Attendants</h2>

<table style="width:100%">
  <tr>
    <th>Number</th>
    <th>Name</th>
  </tr>
  {% for list in guests %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ list }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endfor %}
<h4>Welcome to {{booking.hotel.name}} and may you enjoy your stay!</h4>


</body>
</html>

