{% extends "hotels/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{{ form.non_field_errors }}


<div class="form-login">
  <div class="booking">

  <form method="POST">
    {% csrf_token %}
   <h4>Reset Password</h4>
    <div class="form-inner">
      {{ form|crispy }}
      <div class="mt-5">
        <button type="submit" class="btn btn-primary btn-block">Request Password Reset</button>
      </div>

    </div>
  </form>
</div>

</div>

</div>
{% endblock content %}
