{% extends "hotels/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{{ form.non_field_errors }}
<div class="booking">

<div class="form-login">


  <form method="POST" action="{% url 'register' %}">
    {% csrf_token %}
    <h2>Register</h2>
    <div class="form-inner">
   
      {{ form|crispy }}
</br>
      <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6LcjVn4UAAAAALXgDoHK07n04br9HWuVtuf6cRgk"></div>

      <label>Already have an account? <a href="https://marvellousventures.com/dashboard/">Sign In</a>.</label>

      <div class="mt-10">
        <button type="submit" class="btn btn-primary btn-block">Register</button>
      </div>

    </div>

  </form>

</div>

</div>
{% endblock content %}
