{% extends "hotels/base.html" %}
{% block content %}
{% load widget_tweaks %}
{% load humanize %}
<div class="container">
  <p></p>
  <p></p>
  <p></p>
<div class="booking">

<aside class="sticky-kit sidebar-wrapper">

  <button class="btn btn-secondary btn-wide btn-toggle collapsed btn-change-search btn-block" data-toggle="collapse" data-target="#change-search"></button>

  <div class="booking-selection-box mt-20">

    <div class="heading clearfix">
      <div class="d-flex align-items-end">
        <div>
          <h4 class="text-white font-serif font400">Your Booking</h4>
        </div>
        <div class="ml-auto">
          <a href="#" class="booking-selection-filter">reset</a>
        </div>
      </div>
    </div>
    {% if empty %}

    <h2 style="text-align:center;">{{ empty_message }}</h2>
    {% else %}
    {% for item in cart.cartitems_set.all %}
    <div class="content">

      <ul class="booking-amount-list clearfix mb-20">
        <li>
          {{ item.CheckIn }}<span class="font700">{{ item.CheckIn|date:"l" }}</span>
        </li>
        <li class="text-right">
          {{ item.CheckOut }}<span class="font700">{{ item.CheckOut|date:"l" }}</span>
        </li>
      </ul>

      <div class="hotel-room-sm-item">
        <div class="the-hotel-item">
          <h5><A href="#">{{ item.rooms.hotel.name }}</a></h5>
          <div class="d-flex">
            <div>
              <p class="location">
                {{ item.rooms.hotel.address }}, {{ item.rooms.hotel.city}}, {{ item.rooms.hotel.country}}
              </p>
            </div>
            <div>
              <div class="rating-item rating-xs">
                <div class="rating-icons">
                  <input type="hidden" class="rating" data-filled="rating-icon fas fa-star rating-rated" data-empty="rating-icon far fa-star" data-fractions="2" data-readonly value="4.5"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="the-room-item">
          <h6>{{ item.rooms.room_Name }}-{{ item.rooms.room_Type }}</h6>
          <div class="clearfix">
            <span class="amount"> {{ item.stay_duration }} nights x {{ item.quantity }} room(s) x Ksh{{ item.rooms.room_Price|intcomma }} per night</span>
            <span class="price">Ksh{{ cart.total|intcomma }}</span>
          </div>
          <a href="{% url 'remove-booking' item.id %} " class="remove"><i class="fa fa-times"></i></a>
        </div>
        {% endfor %}
      <a href="{% url 'booking-checkout' %}" class="btn btn-secondary btn-block mt-20">Confirm Booking</a>
    </div>

  </div>
</aside>


{% endif %}
</div>
</div>
</div>
<p></p>
<p></p>
<p></p>

{% endblock %}
