{% extends "hotels/base.html" %}
{% block content %}
{{ form.non_field_errors }}
<div class="container">
  <div class="booking">
<div class="content-section">
  <div class="jumbotron">
<h3>Delete this conference room?</h3>
  <form method="POST">
    <input type="hidden" id="previous_page" name="previous_page" 
    value="/previous/page/url">
    {% csrf_token %}
    <fieldset class="form-group">
      </fieldset>
      <div class="mt-10">
        <h4>Are you sure you want to delete<span class="number text-secondary"> "{{ object.room_Name }}" in {{ object.hotel }}</span>? This action is irreversible!</h4>
        <button type="submit" class="btn btn-outline-danger">Yes, Delete</button>
        <a class="btn btn-outline-secondary" href="javascript:history.back()">Cancel</a>
      </div>
  </form>
  </div>
    </div>
    </div>

  </div>
{% endblock content %}
