{% extends "hotels/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<!-- start Main Wrapper -->
		<div class="main-wrapper scrollspy-action">

            <!-- start bootstrap slideshow -->
           <div class="container-fluid" style="padding-right: 0px; padding-left: 0px;">
           	{% if sliders %}
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
					  <ol class="carousel-indicators">
					  	{% for slider in sliders %}
					    <li data-target="#carouselExampleCaptions" data-slide-to="{{ forloop.counter }}"></li>
					    {% endfor %}
					  </ol>
					  <div class="carousel-inner" style="max-height: 480px">
					  	{% for slider in sliders %}
					    <div class="carousel-item {% if forloop.first %}active {% endif %}">
					      <img src="{{slider.image.url}}" class="d-block w-100" alt="...">
					      <div class="carousel-caption d-none d-md-block">
					      	{% if slider.header_text %}
					        <h5>{{slider.header_text}}</h5>
					        {% endif %}
					        {% if slider.text %}
					        <p>{{slider.text}}</p>
					        {% endif %}
					      </div>
					    </div>
					    {% endfor %}
					  </div>
					  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
					</div>
				{% endif %}
				</div>


			<!-- start Site Content -->
			<div class="main-search-form-horizontal-wrapper">

				<div class="menu-horizontal-wrapper-05">

					<div class="container">

						<nav class="menu-horizontal-05">
							<ul class="nav">
								<li>
									<a class="active" data-toggle="tab" href="#formSearchMain-01">Accommodation</a>
								</li>
								
								<li>
									<a data-toggle="tab" href="#formSearchMain-03">Flights</a>
								</li>
							</ul>
						</nav>

					</div>

				</div>

<div class="container">

<div class="tab-content">
	<!-- Accomodation search form-->

<div role="tabpanel" class="tab-pane active" id="formSearchMain-01">

<div class="tab-inner">

<div class="main-search-form-horizontal">

	<form method="GET" action="{% url 'search-hotels' %}">


		<div class="form-inner">

			<div class="row gap-5 align-items-center">

				<div class="col-12 col-lg-4 col-xl-5">
					<div class="form-single bg-change-focus-addclass">
						<div class="typeahead__container">
							<input class="js-typeahead-country_v1 form-control" name="search" type="search" placeholder="Where are you going?" id = "search" autocomplete="off">
<ul id ="search-results" value = "{{ request.GET.search }}">

</ul>
</div>
					</div>
				</div>

				<div class="col-12 col-md-6 col-lg-3 col-xl-3">
					<div id="airDatepickerRange-hotel" class="form-double d-flex bg-change-focus-addclass">
						<div class="form-group">
							<input type="text" id="dateStart-hotel" class="form-control form-readonly-control" value = "{{ request.session.checkin }}" type='checkin' name='checkin' placeholder="Check-in">
						</div>
						<div class="form-group">
							<input type="text" id="dateEnd-hotel" class="form-control form-readonly-control" value = "{{ request.session.checkout }}" type='checkout' name='checkout' placeholder="Check-out">
						</div>
					</div>
				</div>

				<div class="col-12 col-md-6 col-lg-4 col-xl-3">
					<div class="form-tripple d-flex flex-row bg-change-focus-addclass">
						<div class="form-group form-spin-group">
							<input type="text" class="form-control touch-spin-03 form-readonly-control" value = "{{ request.GET.adult }}" type='adult' name='adult' placeholder="Adult" readonly />
						</div>
						<div class="form-group form-spin-group">
							<input type="text" class="form-control touch-spin-03 form-readonly-control" value = "{{ request.GET.child }}" type='child' name='child' placeholder="Child" readonly />
						</div>
						<div class="form-group form-spin-group">
							<input type="text" class="form-control touch-spin-03 form-readonly-control" placeholder="Infant" readonly />
						</div>
					</div>
				</div>

				<div class="col-12 col-lg-1">
					<button type="submit" class="btn btn-secondary btn-block btn-search"><i class="bx bx-search"></i></button>

				</div>

			</div>

		</div>

	</form>

</div>

</div>

</div>

<!-- Flights search form -->

<div role="tabpanel" class="tab-pane fade in" id="formSearchMain-03">

<div class="tab-inner menu-horizontal-content">

<div class="main-search-form-horizontal">

	<form>

		<div class="form-inner">

			<div class="row gap-5 align-items-center">

				<div class="col-sm-6 col-xl-3">
					<div class="form-single bg-change-focus-addclass">
						<div class="typeahead__container">
							<input class="js-typeahead-country_v1 form-control" name="country_v1[query]" type="search" placeholder="From" autocomplete="off">
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-xl-3">
					<div class="form-single bg-change-focus-addclass">
						<div class="typeahead__container">
							<input class="js-typeahead-country_v1 form-control" name="country_v1[query]" type="search" placeholder="To" autocomplete="off">
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-xl-2">
					<div class="form-single bg-change-focus-addclass">
						<div class="form-group">
							<input type="text" class="form-control form-readonly-control air-datepicker" placeholder="Departure" data-date-format="dd mm yyyy" data-language="en" data-auto-close="true" readonly>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-5 col-xl-3">
					<div class="form-tripple d-flex flex-row bg-change-focus-addclass">
						<div class="form-group form-spin-group">
							<input type="text" class="form-control touch-spin-03 form-readonly-control" placeholder="Adult" readonly />
						</div>
						<div class="form-group form-spin-group">
							<input type="text" class="form-control touch-spin-03 form-readonly-control" placeholder="Child" />
						</div>
						<div class="form-group form-spin-group">
							<input type="text" class="form-control touch-spin-03 form-readonly-control" placeholder="Infant" />
						</div>
					</div>
				</div>

				<div class="col-12 col-lg-1  col-lg-1">
					<a href="#" class="btn btn-secondary btn-block btn-search"><i class="bx bx-search"></i></a>
				</div>

			</div>

		</div>

		<div class="mt-20">

			<div class="custom-control custom-radio  custom-control-inline">
				<input type="radio" id="trainRadio221" name="customRadioInline" class="custom-control-input" checked >
				<label class="custom-control-label" for="trainRadio221">One-way</label>
			</div>

			<div class="custom-control custom-radio  custom-control-inline">
				<input type="radio" id="trainRadio222" name="customRadioInline" class="custom-control-input">
				<label class="custom-control-label" for="trainRadio222">Return</label>
			</div>

			<div class="custom-control custom-radio  custom-control-inline">
				<input type="radio" id="trainRadio223" name="customRadioInline" class="custom-control-input">
				<label class="custom-control-label" for="trainRadio223">Multi cities</label>
			</div>

		</div>

	</form>

</div>

</div>

</div>


</div>

</div>

</div>

			<!-- start Site Content -->


			<section class="pt-250 bg-light">

<div class="container">

<div class="menu-horizontal-wrapper-03 alt-z-index">

<nav class="menu-horizontal-03">
<ul class="nav">
<li>
<a class="active" data-toggle="tab" href="#MenuHorizon06_01">Packages</a>
</li>
<li>
<a data-toggle="tab" href="#MenuHorizon06_02">Hotels</a>
</li>
<li>
<a data-toggle="tab" href="#MenuHorizon06_03">Meetings & Team Building</a>
</li>
</ul>
</nav>

<div class="tab-content mt-90">
<div role="tabpanel" class="tab-pane active"  id="MenuHorizon06_01">
	<div class="tab-inner">
		<div class="row justify-content-center">
			<div class="col col-lg-8 col-xl-6">
				<div class="section-title text-center">
					<h2>Our recommended Package</h2>
					<p class="text-muted">Our bundles vacation packages are the best! </p>
				</div>
			</div>
		</div>
		<div class="row equal-height cols-1 cols-sm-2 cols-lg-3 gap-10 gap-md-20 gap-xl-30">
			{% for package in packages|slice:":6"  %}
			<div class="col">
				<div class="product-grid-item">
					<a href="{% url 'package-detail' package.slug %}">
						{% for photo in package.packagephoto_set.all %}
						{% if forloop.first %}
						<div>
							<div class="img-responsive"><img src="{{ photo.image.url }} " alt="{{ package.title }}" />
							</div>
						</div>
						{% endif %}
						{% endfor %}
						<div class="content pt-10 clearfix">
							<div class="short-info mr-0 mb-15">
								<p class="location mb-0"><i
										class="fas fa-map-marker-alt text-primary"></i>{{ package.city }},
									{{ package.country }}</p>
								<h5 class="mt-5">{{ package.title|truncatewords:3 }}</h5>
							</div>
							<p><i class="far fa-clock"></i> Duration: <strong>{{ time.duration__min }} nights</strong>
							</p>
							<div class="price">
								<div class="float-right">
									starts from
									{% for key, value in p_lowest_prices.items %}
									{% if key == package.title %}
									<span class="text-secondary">Ksh{{ value|intcomma }}</span>
									{% endif %}
									{% endfor %}
									per person sharing
								</div>

							</div>

						</div>

					</a>

				</div>

			</div>
			{% endfor %}

		</div>

	</div>

</div>

<div role="tabpanel" class="tab-pane fade in" id="MenuHorizon06_02">

<div class="tab-inner">

<div class="row justify-content-center">

<div class="col col-lg-8 col-xl-6">

	<div class="section-title text-center">
	
		<h2>Our recommended hotels</h2>
		<p class="text-muted">You will love your stay at these hotels!</p>

	</div>

</div>

</div>

<div class="row equal-height cols-1 cols-sm-2 cols-lg-3 gap-10 gap-md-20 gap-xl-30">

{% for hotel in hotels|slice:":6"  %}
<div class="col">
<div class="product-grid-item">
		<a href="{% url 'hotel-detail' hotel.slug %}">
		<div class="image">
				<img src="{{ hotel.property_photo.url }}" alt="{{ hotel.name }} photo">
			</div>
			<div class="content clearfix">
			
			<div class="short-info">
				<h5>{{ hotel.name }}</h5>
					<p class="location"><i class="fas fa-map-marker-alt text-primary"></i> {{ hotel.address }}, {{ hotel.city}}, {{ hotel.country}}</p>
					</div>
				<div class="price">
					<div class="float-right">
						start from
						{% for key, value in lowest_prices.items %} 
                          {% if key == hotel.name %}
                          <span class="text-secondary">Ksh{{ value|intcomma }}</span>
						 {% endif %}
                          {% endfor %}
						per night
					</div>
				</div>
			</div>
			</a></div>
	</div>	{% endfor %}

</div>


</div>

</div>

<div role="tabpanel" class="tab-pane fade in" id="MenuHorizon06_03">

<div class="tab-inner">

<div class="row justify-content-center">

<div class="col col-lg-8 col-xl-6">

	<div class="section-title text-center">
	
		<h2>Our recommended Meeting Venues</h2>
		<p class="text-muted">You can get easily book Conference Rooms here!</p>

	</div>

</div>

</div>

<div class="row equal-height cols-1 cols-sm-2 cols-lg-3 gap-10 gap-md-20 gap-xl-30">

{% for hotel in conference_hotels|slice:":6" %}
<div class="col">
<div class="product-grid-item">
		<a href="{% url 'conference-hotel-detail' hotel.slug %}">
		<div class="image">
				<img src="{{ hotel.property_photo.url }}" alt="{{ hotel.name }} photo">
			</div>
			<div class="content clearfix">
			
			<div class="short-info">
				<h5>{{ hotel.name }}</h5>
					<p class="location"><i class="fas fa-map-marker-alt text-primary"></i> {{ hotel.address }}, {{ hotel.city}}, {{ hotel.country}}</p>
					</div>
				<div class="price">
					<div class="float-right">
						start from
						{% for key, value in c_lowest_prices.items %} 
                          {% if key == hotel.name %}
                          <span class="text-secondary">Ksh{{ value|intcomma }}</span>
						 {% endif %}
                          {% endfor %}
						per person
					</div>
				</div>
			</div>
			</a></div>
	</div>	{% endfor %}

</div>

</div>

</div>




</div>

</div>

</div>

</section>
<!--From the last search section-->
	<section>

		<div class="container">

			<div class="section-title text-center">

{% if  request.session.search %}
	
<h2>Continue with your search..</h2>
{% else %}
<h2>Most popular hotels today</h2>
{% endif %}
	

			</div>

			<div class="row equal-height cols-2 cols-md-2 cols-lg-4 gap-10 gap-md-20 gap-xl-30">

				{% for hotel in last_searched_hotels|slice:":6" %}
				<div class="col">
					<div class="product-grid-item">
						<a href="{% url 'hotel-detail' hotel.slug %}">
							<div class="image">
								<img src="{{ hotel.property_photo.url }}" alt="{{ hotel.name }} photo">
							</div>
							<div class="content clearfix">

								<div class="short-info">
									<h5>{{ hotel.name }}</h5>
									<p class="location"><i class="fas fa-map-marker-alt text-primary"></i> {{ hotel.address }},
										{{ hotel.city}}, {{ hotel.country}}</p>
								</div>
								<div class="price">
									<div class="float-right">
										starts from
										{% for key, value in last_searched_lowest_prices.items %}
										{% if key == hotel.name %}
										<span class="text-secondary">Ksh{{ value|intcomma }}</span>
										{% endif %}
										{% endfor %}
										per night
									</div>
								</div>
							</div>
						</a></div>
				</div> {% endfor %}

				

			</div>

			<div class="mb-80"></div>


			<div class="list-col-wrapper-01 mt-50">

				<div class="row cols-1 cols-lg-5 gap-0 equal-height">

					<div class="col">

						<div class="list-col-01">
							<h5>America</h5>
							<ul>
								<li><a href="#">Kyoto Hotels</a></li>
								<li><a href="#">Osaka Hotels</a></li>
								<li><a href="#">Tokyo Hotels</a></li>
								<li><a href="#">South Korea Hotels</a></li>
								<li><a href="#">Vientiane Hotels</a></li>
								<li><a href="#">Maldives Hotels</a></li>
								<li><a href="#">Luang Prabang Hotels</a></li>
								<li><a href="#">Taipei Hotels</a></li>
								<li><a href="#">Kuala Lumpur Hotels</a></li>
							</ul>
							<a href="#" class="more-list">More destinations <i class="dripicons-arrow-thin-right"></i></a>
						</div>

					</div>

					<div class="col">

						<div class="list-col-01">
							<h5>Europe</h5>
							<ul>
								<li><a href="#">Kyoto Hotels</a></li>
								<li><a href="#">Osaka Hotels</a></li>
								<li><a href="#">Tokyo Hotels</a></li>
								<li><a href="#">South Korea Hotels</a></li>
								<li><a href="#">Vientiane Hotels</a></li>
								<li><a href="#">Maldives Hotels</a></li>
								<li><a href="#">Luang Prabang Hotels</a></li>
								<li><a href="#">Taipei Hotels</a></li>
								<li><a href="#">Kuala Lumpur Hotels</a></li>
							</ul>
							<a href="#" class="more-list">More destinations <i class="dripicons-arrow-thin-right"></i></a>
						</div>

					</div>

					<div class="col">

						<div class="list-col-01">
							<h5>Caribbean/Mexico </h5>
							<ul>
								<li><a href="#">Kyoto Hotels</a></li>
								<li><a href="#">Osaka Hotels</a></li>
								<li><a href="#">Tokyo Hotels</a></li>
								<li><a href="#">South Korea Hotels</a></li>
								<li><a href="#">Vientiane Hotels</a></li>
								<li><a href="#">Maldives Hotels</a></li>
								<li><a href="#">Luang Prabang Hotels</a></li>
								<li><a href="#">Taipei Hotels</a></li>
								<li><a href="#">Kuala Lumpur Hotels</a></li>
							</ul>
							<a href="#" class="more-list">More destinations <i class="dripicons-arrow-thin-right"></i></a>
						</div>

					</div>

					<div class="col">

						<div class="list-col-01">
							<h5>Asia</h5>
							<ul>
								<li><a href="#">Kyoto Hotels</a></li>
								<li><a href="#">Osaka Hotels</a></li>
								<li><a href="#">Tokyo Hotels</a></li>
								<li><a href="#">South Korea Hotels</a></li>
								<li><a href="#">Vientiane Hotels</a></li>
								<li><a href="#">Maldives Hotels</a></li>
								<li><a href="#">Luang Prabang Hotels</a></li>
								<li><a href="#">Taipei Hotels</a></li>
								<li><a href="#">Kuala Lumpur Hotels</a></li>
							</ul>
							<a href="#" class="more-list">More destinations <i class="dripicons-arrow-thin-right"></i></a>
						</div>

					</div>

					<div class="col">

						<div class="list-col-01">
							<h5>Middle East </h5>
							<ul>
								<li><a href="#">Kyoto Hotels</a></li>
								<li><a href="#">Osaka Hotels</a></li>
								<li><a href="#">Tokyo Hotels</a></li>
								<li><a href="#">South Korea Hotels</a></li>
								<li><a href="#">Vientiane Hotels</a></li>
								<li><a href="#">Maldives Hotels</a></li>
								<li><a href="#">Luang Prabang Hotels</a></li>
								<li><a href="#">Taipei Hotels</a></li>
								<li><a href="#">Kuala Lumpur Hotels</a></li>
							</ul>
							<a href="#" class="more-list">More destinations <i class="dripicons-arrow-thin-right"></i></a>
						</div>

					</div>

				</div>

			</div>

		</div>

	</section>







			<div class="bg-image cta-promo-list" data-white-overlay="3"

      style="background-image: url('{% static "hotels/images/image-bg-on-left/01.jpg" %}')";>

				<div class="container position-relative">

					<div class="row">

						<div class="col-12 col-md-8 col-lg-6">

							<h2 class="heading-title">Why <span class="text-primary text-underline font-italic">Book</span> with Us?</h2>

							<p class="font-lg">We let you focus on enjoying yourself and help you get best deals</p>

							<ul class="list-icon-absolute mt-30">

								<li>
									<span class="icon-font text-primary"><i class="material-icons-outlined">card_giftcard</i></span>
									<h5 class="text-capitalize">We find better Deals</h5>
									<!-- <p>Winter can indeed letter oppose way change is improve my charmed exposed adapted demands.</p> -->
								</li>

								<li>
									<span class="icon-font text-primary"><i class="material-icons-outlined">thumb_up_alt</i></span>
									<h5 class="text-capitalize">Best Price Guaranteed</h5>
								<!--	<p>Received had end prepared off man branched is money so large decay voice there.</p> -->
								</li>

								<li>
									<span class="icon-font text-primary"><i class="material-icons-outlined">favorite_border</i></span>
									<h5 class="text-capitalize">Travellers Love Us</h5>
								<!--	<p>Preserved be mr cordially incommode as doors quick child an point style off why him.</p> -->
								</li>

							</ul>

						</div>

					</div>

				</div>

			</div>

			

			<section class="partners-wrapper border-top pv-60">
				<div class="container">
					<div class="d-md-flex justify-content-center">
						<img src="{% static 'hotels/images/image-logo-grid/20.png' %}" class="image-partner" alt="Partners" />
						<img src="{% static 'hotels/images/image-logo-grid/21.png' %}" class="image-partner" alt="Partners" />
						<img src="{% static 'hotels/images/image-logo-grid/22.png' %}" class="image-partner" alt="Partners" />
						<img src="{% static 'hotels/images/image-logo-grid/23.png' %}" class="image-partner" alt="Partners" />
						<img src="{% static 'hotels/images/image-logo-grid/25.png' %}" class="image-partner" alt="Partners" />
					</div>
				</div>
			</section>

		</div>
		<!-- end Main Wrapper -->
{% endblock content %}

