{% extends "hotels/base.html" %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
{% load my_filters %}
{% load humanize %}


<!-- start Main Wrapper -->
		<div class="main-wrapper scrollspy-action">

			<div class="page-title breadcrumb-wrapper">
				<div class="container">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'bookings-home'%}">Home</a></li>
							<li class="breadcrumb-item"><a href="{% url 'hotels-list'%}">Hotels</a></li>
							<li class="breadcrumb-item"><a href="{% url 'hotel-detail' object.slug %}">{{ object.name }}</a></li>
						</ol>
					</nav>
				</div>
			</div>

			<div class="page-wrapper page-detail bg-light">

				<div class="detail-header">

					<div class="container">

						<div class="d-flex flex-column flex-lg-row">

							<div>
								<h2 id="detail-content-sticky-nav-00" class="name">{{ object.name }}</h2>


								<div class="star-rating-wrapper">
									<div class="rating-item rating-inline">
										<div class="rating-icons">
											<input type="hidden" class="rating" data-filled="rating-icon fas fa-star rating-rated" data-empty="rating-icon far fa-star" data-fractions="2" data-readonly value="4.5"/>
										</div>
									</div>
								</div>

								<div class="clear"></div>

								<p class="location"><i class="material-icons text-info small">place</i> {{ object.address }}, {{ object.city}}, {{ object.country}} <a href="#detail-content-sticky-nav-03" class="anchor">Show map</a></p>


							</div>
              {% if user.is_authenticated and object.contact_person == user %}
							<div class="ml-lg-auto text-left text-lg-right mt-20 mt-lg-0">

								<!-- Button trigger modal -->
<button type="button" class="btn btn-success btn-sm mt-5" data-toggle="modal" data-target="#exampleModal">
  Add room
</button>

<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add room?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <a href="{% url 'room-create' %}" class="anchor btn btn-primary btn-sm mt-5">Hotel Room</a>
        <a href="{% url 'conferenceroom-create' %}" class="anchor btn btn-danger btn-sm mt-5">Conference Room</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

								<a href="{% url 'hotel-update' object.id  %}" class="anchor btn btn-primary btn-sm mt-5">Edit Hotel</a>
                				<a href="{% url 'hotel-delete' object.id  %}" class="anchor btn btn-danger btn-sm mt-5">Delete</a>

                {% else %}
								<div class="ml-lg-auto text-left text-lg-right mt-20 mt-lg-0">
									{% for key, value in lowest_prices.items %} 
                                    {% if key == object.name %}
									<div class="price">from <span>Ksh<span>{{ value|intcomma }}</span></span></div>
									{% endif %}
									{% endfor %}
								
                <a href="#detail-content-sticky-nav-02" class="anchor btn btn-primary btn-wide mt-5">See price and date</a>
                {% endif %}

							</div>

						</div>

					</div>

				</div>

				<span  id="detail-content-sticky-nav-00" class="d-block"></span>

				<div class="fullwidth-horizon-sticky d-none d-lg-block">

					<div class="fullwidth-horizon-sticky-inner">

						<div class="container">

							<div class="fullwidth-horizon-sticky-item clearfix">

								<ul id="horizon-sticky-nav" class="horizon-sticky-nav clearfix">
									<li>
										<a href="#detail-content-sticky-nav-00">Gallery</a>
									</li>
									<li>
										<a href="#detail-content-sticky-nav-01">Overview</a>
									</li>
									<li>
										<a href="#detail-content-sticky-nav-02">Available rooms</a>
									</li>
									<li>
										<a href="#detail-content-sticky-nav-03">What's nearby</a>
									</li>
									<li>
										<a href="#detail-content-sticky-nav-04">Facilities</a>
									</li>
									<li>
										<a href="#detail-content-sticky-nav-05">Conditions</a>
									</li>
									<li>
										<a href="#detail-content-sticky-nav-06">Reviews</a>
									</li>
								</ul>

							</div>

						</div>
					</div>
				</div>
				<div class="container">

					<div class="row gap-30">

						<div class="col-12 col-lg-8 col-xl-9">

							<div class="content-wrapper">

								<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  

  <div class="carousel-inner">
  	 {% for photo in object.photo_set.all %} 
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
    <img src="{{ photo.file.url }}" class="d-block w-100" alt="{{ object.name }} photo"> 

  </div>{% endfor %}

</div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

								<div id="detail-content-sticky-nav-01" class="fullwidth-horizon-sticky-section">

									<h3 class="heading-title"><span>Overview</span></h3>

									<h6>Get the celebrity treatment with world-class service at {{ object.name }} </h6>

									<p><span class="text-primary font700"><i class="fa fa-thumbs-o-up"></i> One of our bestsellers in {{ object.country }}! </span> {{ object.description }}</p>

									

								</div>

								<div id="detail-content-sticky-nav-02" class="fullwidth-horizon-sticky-section">
									<h3 class="heading-title"><span>Available rooms</span></h3>

									<div class="room-item-wrapper">

										<div class="room-item heading d-none d-md-block">

											<div class="row gap-20">

												<div class="col-xs-12 col-sm-12 col-md-6">

													<div class="row gap-20">

														<div class="col-xss-6 col-xs-3 col-sm-4 col-md-4">

														</div>

														<div class="col-xss-12 col-xs-9 col-sm-8 col-md-8">
															<span>Room type</span>
														</div>

													</div>

												</div>

												<div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-0">

													<div class="row gap-20">

														<div class="col-xs-12 col-sm-8 col-md-8">
															<span>Room option</span>
														</div>

														<div class="col-xs-12 col-sm-4 col-md-4">
															<span>No. room</span>
														</div>

													</div>

												</div>

											</div>

										</div>
                    {% for item in object.room_set.all %}
										<div class="room-item">

											<div class="row gap-20">

												<div class="col-12 col-sm-12 col-md-6">
													<div class="row gap-20">

														<div class="col-12 col-sm-4 col-md-4">
															<div class="image">
																<img src="{{ item.room_photo.url }}" alt="{{ item.object.name }}" />
															</div>
															<p></p>
															{% if user.is_authenticated and item.user == user %}
															<a href="{% url 'room-update' item.id %}" class="btn btn-primary btn-xs">Edit</a>
                             								 <a href="{% url 'room-delete' item.id %}" class="btn btn-danger btn-xs">Delete</a>
															{% endif %}
														</div>

														<div class="col-12 col-sm-12 col-md-8">
															<div class="content">
																<h5><a href="#">{{ item.room_Name }} {{ item.room_Type }}</a></h5>
																<p><span class="font700">{{ item.room_details }}</span></p>
																<p class="max-man">Max. : <span data-toggle="tooltip" data-placement="top" title="{{ item.room_Capacity }} persons">
                                  {% for person in item.room_Capacity|times %}
																	<i class="fas fa-male"></i>
																	{% endfor %}</span></p>
																<p class="price"><span class="number text-secondary"><small>Ksh</small>{{ item.room_Price|intcomma }}</span> per night</p>
															</div>
														</div>

													</div>
												</div>

												<div class="col-12 col-md-6" >

													<div class="row gap-20 justify-content-between">
                            <form method="POST" action="{% url 'update-booking-2' item.slug %}" class='pull-right'>
															{% csrf_token %}
														<div  id="airDatepickerRange-general"  class="col-12 col-sm-8 col-md-8">

															<div class="form-group">
																<label class="line12 font13 spacing-05 mt-5 mb-10 block">Check-in</label>
																<div class="form-icon-left">
																	<span class="icon-font text-muted"><i class="bx bx-calendar"></i></span>
																	<input type="text" name='checkin'id="dateStart-general" class="form-control form-readonly-control" placeholder="dd/mm/yyyy" required>
																</div>
															</div>

															<div class="form-group">
																<label class="line12 font13 spacing-05 mt-5 mb-10 block">Check-out</label>
																<div class="form-icon-left">
																	<span class="icon-font text-muted"><i class="bx bx-calendar"></i></span>
																	<input type="text" name='checkout' id="dateEnd-general" class="form-control form-readonly-control" placeholder="dd/mm/yyyy" required>
																</div>
															</div>

														</div>

														<div class="col-12 col-sm-4 col-md-4">

															<div class="form-group form-spin-group mb-5">
																<label class="line12 font13 spacing-05 mt-5 mb-10 block">How many rooms?</label>
																<div class="form-icon-left">
																	<span class="icon-font"><i class="dripicons-user text-muted"></i></span>
																	<input name='qty' class="form-control touch-spin-03 form-readonly-control" value="1" readonly required/>
																	</div>
																	<label class="line12 font13 spacing-05 mt-5 mb-10 block">Reserve</label>
																	<label class="line12 font13 spacing-05 mt-5 mb-10 block"></label>

																	<button type="submit" class="btn btn-primary btn-sm btn-block">Book</button>
															</div>


														</div>

													</div>

												</div>

											</div>

										</div>
									</form>
                    {% endfor %}

									</div>

								</div>
	

							</div>
						</div>

						<div  class="col-12 col-lg-4 col-xl-3">

							<aside class="sticky-kit sidebar-wrapper">

								<button class="btn btn-secondary btn-wide btn-toggle collapsed btn-change-search btn-block" data-toggle="collapse" data-target="#change-search"></button>

								<div class="booking-selection-box mt-20">

									<div class="heading clearfix">
										<div class="d-flex align-items-end">
											<div>
												<h4 class="text-white font-serif font400">Your Booking</h4>
											</div>
											<div class="ml-auto">
												<a href="#" class="booking-selection-filter">reset</a>
											</div>
										</div>
									</div>

									<div class="content">

										<div class="hotel-room-sm-item">
											<div class="the-hotel-item">
												<h5><A href="#">{{ object.name }}</a></h5>
												<div class="d-flex">
													<div>
														<p class="location">{{ object.address }}, {{ object.city}}, {{ object.country}}</p>
													</div>
													<div>
														<div class="rating-item rating-xs">
															<div class="rating-icons">
																<input type="hidden" class="rating" data-filled="rating-icon fas fa-star rating-rated" data-empty="rating-icon far fa-star" data-fractions="2" data-readonly value="4.5"/>
															</div>
														</div>
													</div>
												</div>
											</div>
											
											
										</div>




										<a href="#" class="btn btn-secondary btn-block mt-20">Check out</a>

									</div>

								</div>

							</aside>

						</div>

					</div>
					<div class="fullwidth-horizon-sticky border-0">&#032;</div> <!-- is used to stop the above stick menu -->

				</div>

			</div>

			<section class="bg-white section-sm">

				<div class="container">

					<div class="section-title mb-25">

						<h3>You may also like</h3>

					</div>

					<div class="row equal-height cols-1 cols-sm-2 cols-lg-3 gap-10 gap-lg-20 gap-xl-30">
						{% for hotel in hotels|slice:":3"  %}
						{% if hotel.city == object.city %}
						<div class="col">
							

							<div class="product-grid-item">

								<a href="{% url 'hotel-detail' hotel.slug %}">

									<div class="image">
										<img src="{{hotel.property_photo.url}}" alt="Image">
									</div>

									<div class="content clearfix">

										<div class="rating-item rating-sm">
											<div class="rating-icons">
												<input type="hidden" class="rating" data-filled="rating-icon fas fa-star rating-rated" data-empty="rating-icon far fa-star" data-fractions="2" data-readonly value="4.0"/>
											</div>
											<p class="rating-text text-muted"><span class="bg-primary">6.0</span> <strong class="text-dark">Good</strong> - 1,2547 reviews</p>
										</div>

										<div class="short-info">

											<h5>{{ hotel.name }}</h5>
											<p class="location"><i class="fas fa-map-marker-alt text-primary">
												
											</i> {{ hotel.address }}, {{ hotel.city}}, {{ hotel.country}}</p>

										</div>

										<div class="price">
											<div class="float-right">
												start from
												<span class="text-secondary">Ksh{{ min.room_Price__min|intcomma }}</span>
												per night
											</div>
										</div>

									</div>

								</a>

							</div>
							

						</div>
						{% endif %}

						{% endfor %}

						

					</div>

				</div>

			</section>

		</div>
		<!-- end Main Wrapper -->

{% endblock content %}
