{% extends "hotels/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{{ form.non_field_errors }}
<div class="container">
<div class="content-section">
  <div class="jumbotron">
<h3 class="display-6">Register your Property with us!</h3>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy }}
      </fieldset>
      <div class="mt-5">
        <button type="submit" class="btn btn-primary btn-block">Save</button>
      </div>
  </form>
  </div>
    </div>
  </div>
{% endblock content %}
