{% extends "hotels/base.html" %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
{% load my_filters %}
{% load humanize %}
<script type="text/javascript" defer  src="{% static 'hotels/js/packageBooking.js' %}"></script>
	<!-- start Main Wrapper -->
		<div class="main-wrapper scrollspy-action">
			<div class="page-title breadcrumb-wrapper">
				<div class="container">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'bookings-home'%}">Home</a></li>
							<li class="breadcrumb-item"><a href="{% url 'hotels-list'%}">Packages</a></li>
							<li class="breadcrumb-item"><a href="{% url 'package-detail' object.slug %}">{{ object.name }}</a></li>
						</ol>
					</nav>
				</div>
			</div>	
			<div class="page-wrapper page-detail bg-light">		
				<div class="detail-header">		
					<div class="container">
						<div class="d-flex flex-column flex-lg-row">						
							<div>
								<h2 id="detail-content-sticky-nav-00" class="name">{{ object.title }}</h2>
								<div class="clear"></div>
								<input type="hidden" class="address-info"  value="{{ object.city}}, {{ object.country}}" readonly />
								<input type="hidden" id="package-id"  value="{{ object.id }}" readonly />
								<p class="location"><i class="material-icons text-info small">place</i> {{ object.city}}, {{ object.country}} <a href="#detail-content-sticky-nav-03" class="anchor">Show map</a></p>
							</div>
							<div class="ml-lg-auto text-left text-lg-right mt-20 mt-lg-0">
									{% for key, value in lowest_prices.items %} 
                                    {% if key == object.title %}
									<div class="price">from <span>Ksh<span>{{ value|intcomma }}</span></span></div>
									{% endif %}
									{% endfor %}
								<a href="#detail-content-sticky-nav-02" class="anchor btn btn-primary btn-wide mt-5">See price and date</a>
							</div>
						</div>
					</div>
				</div>
				<input type="hidden" id="dateStart-hotel1"  value="{{ checkin }}" readonly />
				<input type="hidden" id="dateEnd-hotel1"  value="{{ checkout }}" readonly />
				<span  id="detail-content-sticky-nav-00" class="d-block"></span>				
				<div class="fullwidth-horizon-sticky d-none d-lg-block">				
					<div class="fullwidth-horizon-sticky-inner">					
						<div class="container">							
							<div class="fullwidth-horizon-sticky-item clearfix">									
								<ul id="horizon-sticky-nav" class="horizon-sticky-nav clearfix">
									<li>
										<a href="#detail-content-sticky-nav-00">Gallery</a>
									</li>
									<li>
										<a href="#detail-content-sticky-nav-01">Overview</a>
									</li>
									<li>
										<a href="#detail-content-sticky-nav-02">Available hotel</a>
									</li>
									<li>
										<a href="#detail-content-sticky-nav-03">What's nearby</a>
									</li>
									<li>
										<a href="#detail-content-sticky-nav-04">Facilities</a>
									</li>
									<li>
										<a href="#detail-content-sticky-nav-05">Conditions</a>
									</li>
									<li>
										<a href="#detail-content-sticky-nav-06">Reviews</a>
									</li>
								</ul>
							</div>							
						</div>
					</div>
				</div>					
				<div class="container">				
					<div id="change-search" class="collapse"> 									
						<div class="change-search-wrapper rounded-0 shadow-sm mh-1 mb-0">						
							<div class="row gap-10 gap-xl-20 align-items-end">							
								<div class="col-12 col-lg-6">
								<input type="hidden" class="dateEnd-hotel2"  value="{{ checkout }}" readonly />									
									<div class="form-group">
										<label>Destination</label>
										<div class="form-icon-left typeahead__container">
											<span class="icon-font text-muted"><i class="bx bx-map"></i></span>
											 <input class="js-typeahead-country_v1 form-control" name="country_v1[query]" type="search" value = "{{ request.session.search }}" placeholder="Country or city" autocomplete="off">
										</div>
									</div>								
								</div>
								<!--Start search form -->
                               <form method="GET" action="{% url 'search-hotels' %}">
								<div class="col-12 col-lg-6">										
									<div id="airDatepickerRange-hotel" class="row gap-10 gap-xl-20">									
										<div class="col-12 col-sm-6 col-sm-6 col-md-6">											
											<div class="form-group"> 
												<label>Check-in</label>
												<div class="form-icon-left">
													<span class="icon-font text-muted"><i class="bx bx-calendar"></i></span>
													<input type="text" id="dateStart-hotel" class="form-control form-readonly-control" value = "{{ request.session.checkin }}" type='checkin' name='checkin' placeholder="dd/mm/yyyy">
												</div>
											</div>											
										</div>										
										<div class="col-12 col-sm-6 col-sm-6 col-md-6">											
											<div class="form-group"> 
												<label>Check-out</label>
												<div class="form-icon-left">
													<span class="icon-font text-muted"><i class="bx bx-calendar"></i></span>
													<input type="text" id="dateEnd-hotel" class="form-control form-readonly-control" value = "{{ request.session.checkout }}" type='checkout' name='checkout' placeholder="dd/mm/yyyy">
												</div>
											</div>											
										</div>										
									</div>	
								</div>								
								<div class="col-12 col-sm-8 col-md-9">								
									<div class="row gap-10 gap-xl-20">									
										<div class="col-4 col-sm-4">										
											<div class="form-group form-spin-group">
												<label for="room-amount">Rooms</label>
												<div class="form-icon-left">
													<span class="icon-font"><i class="dripicons-user text-muted"></i></span>
													<input type="text" class="form-control touch-spin-03 form-readonly-control" value = "{{ request.session.room }}" type='room' name='room' placeholder="Room" value="1" readonly />
												</div>
											</div>											
										</div>										
										<div class="col-4 col-sm-4 col-md-4">
										
											<div class="form-group form-spin-group">
												<label for="adult-amount">Adults</label>
												<div class="form-icon-left">
													<span class="icon-font"><i class="dripicons-user text-muted"></i></span>
													<input type="text" class="form-control touch-spin-03 form-readonly-control" value = "{{ request.session.adult }}" type='adult' name='adult' placeholder="Adult" value="0" readonly />
												</div> 
											</div>
											
										</div>
										
										<div class="col-4 col-sm-4">
										
											<div class="form-group form-spin-group">
												<label for="child-amount">Children</label>
												<div class="form-icon-left">
													<span class="icon-font"><i class="dripicons-user text-muted"></i></span>
													<input type="text" class="form-control touch-spin-03 form-readonly-control" value = "{{ request.session.child }}" type='child' name='child' placeholder='Child' value="0" readonly />
												</div>
											</div>
											
										</div>
									</div>
								
								</div>
								
								<div class="col-12 col-sm-4 col-md-3">
									<div class="form-group">
										<button class="btn btn-block btn-primary btn-form">Search</button>
									</div>
								</div>
								
							</div>
							
						</div>
					
					</div>
				
				</form>
				</div>
				<div class="container">

					<div class="row gap-30">
						
						<div class="col-12 col-lg-8 col-xl-9">
							
							<div class="content-wrapper">
							
								<div class="slick-gallery-slideshow detail-gallery">
					
									<div class="slider gallery-slideshow">
									{% for photo in object.packagephoto_set.all %} 
										<div><div class="image"><img src="{{ photo.image.url }}"  alt="{{ object.title }}" /></div></div>
									{% endfor %}
									</div>
									<div class="slider gallery-nav">
										
									</div>
									
								</div>
								<div id="detail-content-sticky-nav-02" class="fullwidth-horizon-sticky-section">
									<h3 class="heading-title"><span>Hotels in this package</span></h3>									
									<div class="change-search-wrapper">							
									</div>
								
									<div class="room-item-wrapper">
							
										<div class="room-item heading d-none d-md-block">
										
											<div class="row gap-20">
											
												<div class="col-xs-12 col-sm-12 col-md-6">
													
													<div class="row gap-20">
													
														<div class="col-xss-6 col-xs-3 col-sm-4 col-md-4">
			
														</div>
														
														<div class="col-xss-12 col-xs-9 col-sm-8 col-md-8">
															<span>Hotel</span>
														</div>
														
													</div>
													
												</div>
												
												<div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-0">
													
													<div class="row gap-20">
													
														<div class="col-xs-12 col-sm-8 col-md-8">
															<span>Hotel option</span>
														</div>
														
														<div class="col-xs-12 col-sm-4 col-md-4">
															<span>No. guests</span>
														</div>
													
													</div>
													
												</div>
												
											</div>
										
										</div>
										 {% for item in object.hotelpackages_set.all %}
											 
										<div class="room-item">
										
											<div class="row gap-20">
											
												<div class="col-12 col-sm-12 col-md-6">
													<div class="row gap-20">
													
														<div class="col-6 col-sm-4 col-md-4">
															<div class="image">
																<img src="{{ item.hotel.property_photo.url }}" alt="{{ item.hotel.name }}" />
															</div>
														</div>
														
														<div class="col-12 col-sm-8 col-md-8">
															<div class="content">
																<h5><a href="{% url 'hotel-detail' item.hotel.slug %}" id='room-name{{forloop.counter}}'>{{ item.hotel.name }} </a></h5>
																<p><span class="font700">{{ item.meal_Plans }}
																	</span></p>
																	<p><span class="font700">Validity:</span>
																	 {% if item.is_past_due %}<span class="number text-secondary">
																		Offer Expired!</span>
																		{% else %}

																	{{ item.start_Date|date:"M d" }} - {{ item.end_Date|date:"M d" }} {% endif %}</p>
													
																<p class="price"><span class="number text-secondary"><small>Ksh</small>{{ item.package_Price|intcomma }}</span> pps</p>
															</div>
														</div>
														
													</div>
												</div>
												
												<div class="col-12 col-md-6">
													
													<div class="row gap-20 justify-content-between">
													
														<div  id="airDatepickerRange-general"  class="col-7 col-sm-8 col-md-8">
															
															 
															

															<div class="col-12 col-sm-6 col-sm-6 col-md-9">
														
														<div class="form-group"> 
															<label>Check-in</label>
															<div class="form-icon-left">
																<span class="icon-font text-muted"><i class="bx bx-calendar"></i></span>
																<input type="text" id="dateStart-general" name="dateStart-general{{item.id}}"
																	class="form-control form-readonly-control" placeholder="dd/mm/yyyy"
																	value="{{request.session.checkin}}" required>
															</div>
															
														</div>
														<label>Stay duration</label>
														<input type="text" class="form-control touch-spin-03 form-readonly-control"
															value="1" name="stayduration" id="stayduration{{item.id}}" readonly />
															<input type="text" id="dateEnd-general" class="form-control form-readonly-control" hidden>
														
													</div>
														
														</div>
														
														<div class="col-5 col-sm-4 col-md-4">
															<div class="form-group form-spin-group mb-5">
																<label class="line12 font13 spacing-05 mt-5 mb-10 block">Guests</label>
																<div class="form-icon-left">
																	<span class="icon-font"><i class="dripicons-user text-muted"></i></span>
																	<form id="bookingQty{{forloop.counter}}">
																	<input type="text" class="form-control touch-spin-03 form-readonly-control" id='guestQty{{item.id}}' name ='roomQty'value="1" data-id={{item.id}} readonly />
																	<!-- <input type="hidden" class="stayduration" name="stayduration" value="{{ item.duration }}" readonly /> -->
																</form>
																</div>
															</div>
															<button {% if item.is_past_due%} disabled {%endif%} data-id={{item.id}} class="btn btn-primary btn-sm btn-block">{% if item.is_past_due%} Expired {%else%} Book{%endif%}</button>
														</div>
													
													</div>
													
												</div>
												
											</div>
										
										</div>
										
	                               {% endfor %}
									</div>

								</div>


								<div id="detail-content-sticky-nav-05" class="fullwidth-horizon-sticky-section">

									<h3 class="heading-title"><span>{{ object.title }} Itinerary</span></h3>

									<div class="feature-box-2 mb-0 bg-white">
                                       {% for ite in object.itinirery_set.all %}
										<div class="feature-row">
											<div class="row gap-10 gap-md-30">

												<div class="col-12 col-sm-4 col-md-3">
													<h6>{{ ite.title }}</h6>
												</div>

												<div class="col-12 col-sm-8 col-md-9">
													<p>{{ ite.description }}</p>
												</div>

											</div>
										</div>
										{% empty %}
										<p>Itinirery not applicable</p>
										{% endfor %}

								</div>

								<div id="detail-content-sticky-nav-06" class="fullwidth-horizon-sticky-section">

									
								</div>

							</div>
	
								
							</div>
							
						</div>

						<div  class="col-12 col-lg-4 col-xl-3">
						
							<aside class="sticky-kit sidebar-wrapper">
							
						
								<button class="btn btn-secondary btn-wide btn-toggle collapsed btn-change-search btn-block" data-toggle="collapse" data-target="#change-search"></button>
								
								<div class="booking-selection-box mt-20">
									
									<div class="heading clearfix">
										<div class="d-flex align-items-end">
											<div>
												<h4 class="text-white font-serif font400">Your Booking</h4>
											</div>
											<div class="ml-auto">
											<button type="button" name='clear-bookings'class="btn btn-outline-danger btn-xs">Clear</button>
												{% comment %} <a href="#" class="booking-selection-filter">reset</a> {% endcomment %}
											</div>
										</div>
									</div>
									
									<div class="content">
									
										{% comment %} <ul class="booking-amount-list clearfix mb-20">
											<li>
												{{ checkin|date:"d M Y"}}<span class="font700">{{ checkin|date:"D" }}</span>
											</li>
											<li class="text-right">
												{{ checkout|date:"d M Y" }}<span class="font700">{{ checkout|date:"D" }}</span>
											</li>
										</ul>
										 {% endcomment %}
										<div class="hotel-room-sm-item">
											
												</div>
												
											</div>
											
												
											</div>
											
							
										<button type='button'  id = 'checkout' class="btn btn-secondary btn-block mt-20">Check out</button>
									
									</div>
									
								</div>
							
							</aside>
							
							
						</div>
						
					</div>

					<div class="fullwidth-horizon-sticky border-0">&#032;</div> <!-- is used to stop the above stick menu -->

				</div>

			</div>
			
			<section class="bg-white section-sm">

				<div class="container">

					<div class="section-title mb-25">

						<h3>You may also like</h3>

					</div>

					<div class="row equal-height cols-1 cols-sm-2 cols-lg-3 gap-10 gap-lg-20 gap-xl-30">
						{% for package in packages|slice:":3"  %}
						{% if package.package_type == object.package_type %}
						
						<div class="col">
							<div class="product-grid-item">

								<a href="{% url 'package-detail' package.slug  %}">
									 {% for photo in package.packagephoto_set.all %}
                           			{% if forloop.first %}
									<div class="image">
										<img src="{{photo.image.url }}" alt="{{ object.title }}">
									</div>
									{% endif %}
                                   {% endfor %}
                                  

									<div class="content clearfix">

										<div class="short-info">

											<h5>{{ package.title }}</h5>
											<p class="location"><i class="fas fa-map-marker-alt text-primary">
												
											</i> {{ package.city}}, {{ package.country}}</p>

										</div>

										<div class="price">
											<div class="float-right">
												start from
												{% for key, value in lowest_prices.items %} 
                                                 {% if key == package.title %}
												<span class="text-secondary">Ksh{{ value|intcomma }}</span>
												{% endif %}
												{% endfor %}
												per person
											</div>
										</div>

									</div>

								</a>

							</div>
						</div>
						{% endif %}
						{% endfor %}
						</div>
				</div>
			</section>			
		</div>		
		<!-- end Main Wrapper -->
{% endblock content %}
