{% extends "hotels/base.html" %}
{% load static %}
{% block content %}
{% load humanize %}
<div class="main-wrapper scrollspy-container">

<div class="page-title breadcrumb-wrapper">
<div class="container">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'bookings-home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Honeymoon Packages</li>
  </ol>
</nav>
</div>
</div>

<section class="page-wrapper bg-light-primary">

<div class="container">

<div class="row equal-height cols-1 cols-md-2 cols-lg-3 gap-10 gap-lg-20 gap-xl-30">
	{% for package in packages %}
	{% if package.package_type == "honeymoon" %}
	<div class="col">
	
		<div class="product-grid-item">
				
			<a href="{% url 'package-detail' package.slug %}">
			
				<div class="image">
					<img src="{{ package.cover_photo.url }}" alt="{{ package.title }}">
				</div>
				
				<div class="content pt-10 clearfix">

					<div class="short-info mr-0 mb-15">
					
						<p class="location mb-0"><i class="fas fa-map-marker-alt text-primary"></i>{{ package.city }}, {{ package.country }}</p>
						<h5 class="mt-5">{{ package.title }}</h5>

					</div>
					
					<p><i class="far fa-clock"></i> Duration: <strong>{{ time.duration__min }} nights</strong></p>
					<div class="rating-item rating-sm mt-3">
						<div class="rating-icons">
							<input type="hidden" class="rating" data-filled="rating-icon fas fa-star rating-rated" data-empty="rating-icon far fa-star" data-fractions="2" data-readonly value="4.0"/>
						</div>
						<p class="rating-text text-muted font13">(1,2547 reviews)</p>
					</div>
					
					<div class="price">
						
						<div class="float-right">
							start from
							<span class="text-secondary">Ksh{{ min.package_Price__min|intcomma }}</span>
							per person
						</div>

					</div>
				
				</div>
				
			</a>
		
		</div>
		
	</div>	
	{% endif %}
	{% endfor %}
</div>


</div>

</section>
</div>




{% endblock content %}
