{% extends "hotels/base.html" %}
{% load static %}
{% block content %}

{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'hotels/register/js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'hotels/register/js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'hotels/register/js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static 'hotels/register/photos/js/basic-upload.js' %}"></script>
{% endblock %}
<div class="container">
<div class="jumbotron">
<h1 class="display-4">Property Photos</h1>
<p class="lead">Research shows that great photos invite more guests and your rooms are more likely to be reserverd. We'll display these photos on your property's page on the website. </p>
{% block photos_content %}
  <div style="margin-bottom: 20px;">
    <button type="button" class="btn btn-primary js-upload-photos">
      <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
    </button>
    <input id="fileupload" type="file" name="file" multiple
           style="display: none;"
           data-url="#"
           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
  </div>
  <table id="gallery" class="table table-bordered">
    <thead>
      <tr>
        <th>Photo</th>
      </tr>
    </thead>
    <tbody>
      {% for photo in photos.hotel %}
        <tr>
          <td><a href="{{ photo.file.url }}">{{ photo.file.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-outline-success" href="{% url 'room-create' %}">Continue</a>
</div>
</div>

{% endblock %}

{% endblock %}
